 body {
     font-family: 'Avenir LT Std 45 Book';
     overflow-x: hidden;
 }
 .logo {
     border-radius: 0px 9px;
 }
 .logo-home {
   left: 50%;
   right: 50%;
   transform: translateX(-50%);
 }
 .hero-img1{
    background-image: url('./asset/build/images/first-dsk.png');
    height: 75vh;
    background-position: top;
    background-size: cover;
} 

.override {
  background: rgba(8, 36, 71, 0.48);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.layer {
  background-color: rgba(8, 36, 71, 0.64);  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: 0;
}
.hero-img2 {
    background-image: url('./asset/build/images/second-dsk.png');
    height: 75vh;
    background-position: top;
    background-size: cover;
}
.btn-listen, .btn-see, .btn-page {
    color:  #fff;
    display: block;
    width: 180px;
    padding: 10px 30px;
    background-color: #DF4041;
}

.hero-img3 {
    background-image: url('./asset/build/images/third-dsk.png');
    /* background-color: rgba(122, 122, 122, 0.48); */
    height: 75vh;
    background-position: top;
    background-size: cover;
}
.hero-img4 {
    background-image: url('./asset/build/images/fourth-dsk.png');
    /* background-color: rgba(122, 122, 122, 0.48); */
    height: 75vh;
    background-position: top;
    background-size: cover;
}
.blog-nav ul li a {
    color: #fff;
}

.btn-donate:hover {
  background-color: #DF4041;
  border: 2px solid #DF4041;
}
.nav1 ul li a {
    color: #fff;
}

/* .nav li a{
    color: #fff;
} */
.nav li a:hover, .blog-nav li a:hover, .nav1 ul li a.active, .active {
    color: #DF4041;
}
/* .nav li a:focus, .blog-nav li a:focus {
    color: #DF4041;
} */
/* .burger-img {
    display: none;
} */

  .btn-donate-blog {
      border: 2px solid #DF4041;
  }
  .slick-dots {
    bottom: 21px;
  }
  .slick-dots li.slick-active button:before {
    color: white;
  }

.slick-dots li button:before {
    font-size: 25px;
}
 .slick-next {
    right: 10%;
    top: 42%;
} 
 
.hipsom-nav ul li a {
    color: #0000;
}
 
.slick-prev {
    top: 42%;
    z-index: 1;
    left: 72px;
}
.slick-next:before {
    font-size: 40px;
}
.slick-prev:before {
    font-size: 40px;
}

h1 {
    font-family: 'Unna', serif;
}
.card {
    width: 10%;
    margin-left: 12px;
    border: 0.5px solid #B8B8B8;
}
.read-more {
    border: 2px solid #082447;
     padding: 10px 20px; 
    font-size: 12px;
    color: #082447;
}
.field {
    width: 49%;
}

.power-text {
    color: #666666;
    width: 100%;
}
.verse {
    height: 500px;
}
.verse-image {
    width: 50%;
}
.verse-text {
    width: 50%;
    background-color: rgba(8, 36, 71, 0.16);

}
.verse-image img {
    width: 100%;
    height: 100%;
}
.verse-text h3 {
    color: #082447;
}
.verse-text p {
    color: #666666; 
}
.eph {
    color: #DF4041;
}
.footer {
    background-color: #082447;
    color: #fff;
}
/* .website-links {
    width: 20%;
 */
.footer-contents {
    border-bottom: 0.1px solid #878787;
}
.contact-us {
    width: 20%;
    border-left: 0.1px solid #878787;
    padding-left: 10px;
}
.location {
    border-left: 0.1px solid #878787;
    padding-left: 10px;
}
.reload {
    width: 50px;
    right: 48px;
    top: 20px;
}

.blog-nav li  {
    color:  #8F8F8F;
}
.donate-nav {
  color: #fff;
}

.blog-card {
    width: 30%;
    border: 0.2px solid #B8B8B8;
    margin-top: 40px;
}
.read-blog {
  background: url('./asset/build/images/Rectangle\ 260.png');
  background-repeat: no-repeat;
  height: 280px;
  background-size: cover;
  background-position: center;  
}
.message-blog {
  width: 100%;
}

.title-image {
  height:  190px;
  background: url('./asset/build/images/Rectangle\ 260.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.title-image2 {
  height:  190px;
  background: url('./asset/build/images/Rectangle 260 (2).png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center

}
.banner-pray {
    background-image: url('./asset/build/images/Rectangle\ 240.png');
    height: 60vh;
    background-size: cover;
}
.nav-pray ul li, .nav-media ul li {
    color: #fff;
}
.banner-media {
    background-image: url('./asset/build/images/Rectangle\ 241.png');
    height: 60vh;
    background-size: cover;
}
.music-icon {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgba(8, 36, 71, 0.32);
}
.holder {
    width: 15%;
}
.podcast {
    background-color: #F5F5F5;
    border: 0.5px solid #8F8F8F;
    padding: 10px 5px;
}
.btn-podcast, .btn-photos {
  padding: 4px 20px;
}
.btn-podcast:hover, .btn-photos:hover, .active2 {
  background-color: #082447;
  color: #fff;
  border-radius: 1px;
}

.image-card {
    width: 23%
}
.image-card p {
    margin-top: 7px;
    font-size: 13px;
    font-weight: 500;
} 

.banner-event {
    background-image: url('./asset/build/images/Rectangle\ 241\ \(1\).png');
    height: 60vh;
    background-size: cover;
}
.event-card {
    width: 23%
}
.event-card h2 {
    margin-top: 8px;
    font-size: 15px;
    font-weight: 700;

}
.hipsom-nav ul li {
    color: #000;
}

.event-card p {
    margin-top: 4px;
    font-size: 13px;
    font-weight: 500;
} 
.address {
  border-bottom:  1px solid #e4d9d9;
}
.event-img {
  width: 100%;
  height: 350px;
}
.event-img img {
  width: 100%;
  height: 100%;
}
.content-holder {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3); 
  top: 0;
  z-index: 10;
}
.event-close {
  color: white;
  right: 27%;
}

.pop-up {
  border: 0.1px solid #525252;
}

.banner-about {
    background-image: url('./asset/build/images/about.png');
    height: 60vh;
    background-size: cover;
}
.about {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.about-text {
    width: 45%;
}
.about-img {
    width: 35%;
}

.head-pastor-text {
    width: 80%;
}
.goal {
    width: 32%;
    border: 0.5px solid #CCCCCC;
    padding: 20px 30px;
    text-align: center;
}
.goal h4 {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px;
}
nav.hipsom ul li a {
    color: #8F8F8F;
    font-weight: 700;
}
.btn-fill, .btn-upload {
    border: 0.5px solid #8F8F8F;
}
.btn-fill:hover, .btn-upload:hover, .active2 {
  background-color: #082447;
  color: #fff;
}
.btn-fill:focus {
  background-color: #082447;
}
.hipsom-field {
    width: 32.5%;
}
.hipsom-field2 {
    width: 42.5%;
}
.hipsom-field3 {
    width: 22.5%;
}
.hipsom-field4 {
    width: 32.5%;
}
.btn-add {
    border: 0.5px solid #8F8F8F;
}
.message-hipsom{
    width: 70%;
}
textarea {
    resize: none;
}
.ref-text {
    width: 600px;
}
.nom {
    width: 300px;
    padding-bottom: 5px;
}
.note {
    width: 590px;
}
.checkbox-text {
    width: 605px;
}
input[type="checkbox"] {
   width: 20px;
   height: 20px;
}
.chck-boxes {
    width: 40%;
}

 label.upload {
    cursor: pointer;
    border: 1px solid #082447;
 }
 
 #upload-form {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }
 .banner-contact {
    background-image: url('./asset/build/images/contact.png');
    height: 60vh;
    background-size: cover;
}
.contact-form {
    width: 50%;
}
.banner-donate {
    background-image: url('./asset/build/images/donate-dsk.png');
    height: 60vh;
    background-size: cover;
}
.seed-text {
    width: 500px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}


@media screen  and (max-width:768px){

.hero-img1 {
    background-image: none;
    background: url('./asset/build/images/first.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    background-size: cover;
}    
.banner-text, .banner-text2, .banner-text3, .banner-text4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text {
    width: 100%;
    text-align: center;
}
 



.slick-dots {
    bottom: 91px;
  }

  .hero-img2 {
    background-image: none;
    background: url('./asset/build/images/second.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    background-size: cover;
}

.hero-img3 {
    background-image: none;
    background: url('./asset/build/images/third.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    background-size: cover;
}

.hero-img4 {
    background-image: none;
    background: url('./asset/build/images/fourth.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    background-size: cover;
}

.verse-image {
    width: 100%;
}
.verse-text {
    width: 100%;
    text-align: center;
    /* padding: 10px; */
}

.footer-contents {
    border-bottom: none;
}
.contact-us {
    width: 100%;
    border-left: none;
    padding-left: 0;
    margin-top: 10px;
}
.location {
    border-left: none;
    padding-left: 0;
}

.reload {
    width: 50px;
    right: 48px;
    top: 20px;
}

.blog-card {
    width: 100%;
    border: 0.2px solid #B8B8B8;
    margin-top: 40px;
}
.read-blog {
  background: url('./asset/build/images/Rectangle\ 260.png');
  background-repeat: no-repeat;
  height: 240px;
  background-size: cover;
  background-position: center;  
}

.banner-media {
    background-image: none;
    background: url('./asset/build/images/media-mob.png');
    height: 42vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-info {
  font-size: 11px;
}
.event-close {
  right: 12%;
}

.banner-pray {
    background-image: none;
    background: url('./asset/build/images/prayer-mob.png');
    height: 42vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.field {
    width: 100%;
}
.btn-listen, .btn-see, .btn-page {
  width: 260px;
  padding: 10px 60px;
 
}

.banner-event {
    background-image: none;
    background: url('./asset/build/images/event-mob.png');
    height: 42vh;
    background-size: contain;
    background-repeat: no-repeat;
}
.event-card {
    width: 100%;
    margin-top: 20px;

}
.event-card h2 {
    margin-top: 8px;
    font-size: 15px;
    font-weight: 700;
}
.event-card p {
    margin-top: 2px;
    font-size: 13px;
    font-weight: 500;
} 

.event-img {
  width: 100%;
  height: 200px;
}
.banner-about {
    background-image: none;
    background: url('./asset/build/images/about-mob.png');
    height: 42vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.about-text {
    width: 100%;
}
.about-img {
    width: 100%;
}
.goal {
    width: 100%;
    margin-top: 15px;
} 
.head-pastor {
    width: 100%;
    background-color: rgba(8, 36, 71, 0.24);
}
.banner-contact{
    background-image: none;
    background: url('./asset/build/images/contact-mob.png');
    height: 42vh;
    background-size: contain;
    background-repeat: no-repeat;
}
.contact-form {
    width: 100%;
}

.hipsom-field {
    width: 100%;
}
.hipsom-field2 {
    width: 100%;
}
.hipsom-field3 {
    width: 100%;
}
.hipsom-field4 {
    width: 100%;
}
.message-hipsom{
    width: 100%;
}
.ref-text {
    width: 100%;
}
.note {
    width: 100%;
}
.checkbox-text {
    width: 100%;
}
.nom {
    width: 100%;
}
.chck-boxes {
    width: 100%;
}
.seed-text {
    width: 100%;
}
.banner-donate {
    background-image: none;
    background: url('./asset/build/images/donate-mob.png');
    height: 42vh;
    background-size: contain;
    background-repeat: no-repeat;
}
.holder {
    width: 45%;
}
.image-card {
    width: 47%;
}
.btn {
    border: none;
    outline: none;
}

  .nav-mob {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: #fff;
      top: 0;
  }
  .nav-mob ul li {
      margin-top: 30px;
      color: black;
      font-size: 18px;
  }
  .nav-mob li a:hover {
      color: #DF4041;
  } 
 
  .nav-mob ul {
      list-style: none;
  }
  .m-service {
      position: absolute;
      top: 196px;
      left: 12px;
  }
  .upcoming {
    height: 300px;
    
  }
  .remaining {
      position: absolute;
      top: 70px;
      right: 12px;

  }
  .layer {
    height: 42vh;
  }
}